.bg-light {
  background-color: #f5f5f5 !important;
}

a.btn-outline-secondary:hover {
  background-color: #6c757d;
  color: white;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
