<nav class="sidebar">
  <div class="sidebar-header">
    <h4>ABA Platform</h4>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link">
        <i class="bi bi-house-door-fill"></i> Accueil
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/documents" class="nav-link">
        <i class="bi bi-file-earmark-text"></i> Documents
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/videos" class="nav-link">
        <i class="bi bi-play-circle"></i> Formations Vidéo
      </a>
    </li>
     <li class="nav-item">
      <a routerLink="/bloglist" class="nav-link">
        <i class="bi bi-credit-card"></i> Blog
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/subscription" class="nav-link">
        <i class="bi bi-credit-card"></i> Abonnement
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link">
        <i class="bi bi-envelope"></i> Contact
      </a>
    </li>
  </ul>
</nav>
