<div class="aside p-3">
  <h2 class="mb-4">Admin ABLLS-R</h2>
  <nav>
    <div>
      <a [routerLink]="'home'" [class.active]="isActive('home')">Acceuil</a>
    </div>
    <!-- Les ressources -->
    <div>
      <a (click)="toggleSubmenu('ressources')">📚 Les ressources</a>
      <div id="submenu_ressources" style="display:none; padding-left: 15px;">
        <a [routerLink]="'/admin/documents'" [class.active]="isActive('/admin/documents')">📂 Fichiers</a>
        <a [routerLink]="'/admin/videoList'" [class.active]="isActive('/admin/videoList')">🎥 Vidéos</a>
      </div>
    </div>

    <!-- Évaluations ABLLS -->
    <div>
      <a (click)="toggleSubmenu('evaluations')">📝 Évaluations ABLLS</a>
      <div id="submenu_evaluations" style="display:none; padding-left: 15px;">
        <a [routerLink]="'/admin/domaines'" [class.active]="isActive('/admin/domaines')">📌 Domaines</a>
        <a [routerLink]="'/admin/ablls'" [class.active]="isActive('/admin/ablls')">🧩 Tâches</a>
        <a [routerLink]="'/admin/categories'" [class.active]="isActive('/admin/categories')">🧩 Catégories</a>
        <a [routerLink]="'/admin/baselines'" [class.active]="isActive('/admin/baselines')">📄 Lignes de base</a>
        <a [routerLink]="'/admin/material'" [class.active]="isActive('/admin/material')">🧰 Matériel</a>
      </div>
    </div>
  </nav>
</div>
